<p>Hey <%= emailData.name %>,</p>
<p>
  Thanks for signing up with us. We're very excited to have you on board.
</p>

<p>To get started using Nice App, please confirm your account below:</p>
<p>
  <a href="<%= emailData.URL %>">Confirm your account</a>
</p>

